# Generated compiler files
lex.yy.c
y.tab.c
y.tab.h

# Compiled files
*.o
*.out
*.exe
*.a

# Executables
interpreter
assembler

# Temporary files
*.tmp
*.swp
*~

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

build/
bin/
*.asm
*.obj

!compiler/interpreter/interpreter.c
!compiler/interpreter/
